<%= form_with model: @world, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <% if @world.slug %>
      <%= f.text_field :name, autofocus: true, disabled: true, autocomplete: "name", class: "form-control" %>
    <% else %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, autocomplete: "description", class: "form-control" %>
  </div>

  <div class="form-group">
    <%# FIXME: DRY up - this is same in all inventory forms %>
    <% if @world.image.attached? %>
      <%= tag.img(
        src: attached_img_path(@world.image, combine_options: { resize: '80x60^', gravity: 'center' }),
        class: "img-fluid rounded float-right world-image",
        id: element_id(@world, 'img'),
        alt: "Bild: #{@world.name}") %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <%= f.submit t(:submit), class: "btn btn-primary btn-lg" %>
<% end %>

