<%= tag.div(id: element_id(@world), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <h2 class="card-title mt-2">
      <i class="fas fa-globe"></i>
      <%# FIXME: use helper %>
      <%= @world.title %>
    </h2>
  </div>

  <%# world body %>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <% if @world.image.attached? %>
          <%= tag.img(src: card_img_path(@world.image),
                      class: "img-fluid rounded float-right world-image",
                      width: '38%',
                      alt: "Bild: #{@world.title}") %>
        <% end %>
        <p class="leader"><%= @world.description %></p>

        <%# Inventory stats and links go here %>
        
        <%= tag.a(href: world_figures_path(@world), class: 'card-link') do %>
          <%= qm_icon(Figure)  %>&nbsp;
          <%=  Figure.model_name.human(count: 2)  %>:
          <%= @world.figures.count %>
        <% end %>
        <br />
        <%= tag.a(href: world_items_path(@world), class: 'card-link') do %>
          <%= qm_icon(Item) %>&nbsp;
          <%= Item.model_name.human(count: 2) %>:
          <%= @world.items.count %>
        <% end %>

        <%# Notes go here %>

        <%# Files go here %>

        <div class="text-muted">
          <p>
          <small><%= t(:created_by, nick: @world.user.nick) %>
          <%= t(:created_at, datetime: l(@world.created_at.localtime)) %>;
          <%= t(:last_modified, datetime: l(@world.updated_at.localtime)) %></small>
          </p>
        </div>

      </div>
    </div>

  </div>
  <div class="card-footer text-muted">
    <div class="row">
     <div class="col-md-4 col-12 text-md-left text-center mt-2">
       <small>
         <%= time_ago_in_words(@world.updated_at.localtime) %>, <%= @world.user.nick %>
       </small>
     </div> 
     <div class="col-md-8 col-12">
       <nav class="nav justify-content-md-end justify-content-center context-menu">
         <%= link_to(icon('fa-list', 'fas'),
                     worlds_path,
                     class: 'nav-link',
                     title: t(:index)) %>
         <%= link_to(icon('fa-edit', 'fas'),
                     edit_world_path(@world),
                     class: 'nav-link',
                     title: t(:edit)) %>
          <%= link_to(icon('fa-plus', 'fas'),
                     new_world_path,
                     class: 'nav-link',
                     title: t(:new)) %>
         <%= link_to(icon('fa-trash', 'fas'),
                     world_path(@world),
                     method: :delete,
                     class: 'nav-link',
                     title: t(:delete),
                     data: {
                       confirm: t('.confirm_delete', world: @world.title)
                     }) %>
     </nav>
     </div>
    </div>
  </div>
<% end %>

<%# navigation links %>
<%# link_to 'index', worlds_path, class: 'nav-link' %>
<%# link_to 'edit', edit_world_path(@world), class: 'nav-link' %>
<%# link_to('delete', world_path(@world), method: :delete,
  class: 'nav-link',
  data: { confirm: "Really bring apocalypse to World '#{@world.title}'?" }) %>

