<%= tag.div(id: element_id(@world), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%= icon(@world) { @world.name } %>
        </h2>
      </div> 
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %>
      </div>
    </div>
  </div>

  <%# world body %>
  <div class="card-body">

    <div class="row">
      <%# info %>
      <div class="col-md-6 col-12">
        <% if @world.description.present? %>
          <p class="leader"><%= @world.description %></p>
        <% end %>
        <% if @world.beginning %>
          <p><%= t('.begin_of_time',
                   start: l(@world.beginning, format: :long)) %></p>
        <% end %>
        <% if @world.ending %>
          <p><%= t('.end_of_time',
                   end: l(@world.ending, format: :long)) %></p>
        <% end %>
        <% if @world.age %>
          <p><%= t('.age', age: distance_of_time_in_words(@world.age)) %></p>
        <% end %>
        <p class="small text-muted">
        <%= t(:created_at, datetime: l(@world.created_at.localtime)) %>
        (<%= @world.user.nick %>)<br />
        <%= t(:last_modified, datetime: l(@world.updated_at.localtime)) %>
        </p>
      </div>

      <%# image %>
      <div class="col-md-6 col-12 order-first order-md-0 mb-3 mb-0-md">
        <% if @world.image.attached? %>
          <%= tag.img(
            src: card_img_path(@world.image),
            class: "img-fluid rounded float-right world-image",
            width: '100%',
            alt: "Bild: #{@world.name}") %>
        <% end %>
      </div>

    </div>

    <%# test ol %>
    <div class="map row mb-2">
      <div class="col">
        <%= render(
          partial: 'locations/locations_map'
        ) unless @world.locations.empty? %>
      </div>
    </div>
    <%# /test ol %>

    <%# Show tags %>
    <%= render partial: 'shared/tags', locals: { obj: @world } %>

  </div>
<% end %>

<%# attributes go here %>
<%= render partial: 'figures/figures', locals: { obj: @world.figures } %>
<%= render partial: 'items/items', locals: { obj: @world.items } %>
<%= render partial: 'locations/locations', locals: { obj: @world.locations } %>
<%= render partial: 'concepts/concepts', locals: { obj: @world.concepts } %>
<%= render partial: 'facts/facts', locals: { obj: @world.facts.chronological } %>

<%= render partial: 'shared/attributes', locals: { obj: @world } %>
