<%= tag.div(id: element_id(@world), class: 'card') do %>

  <%# world menu %>
  <div class="card-header">
    <nav class="nav justify-content-end context-menu">
      <%= link_to t(:index), worlds_path, class: 'nav-link' %>
      <%= link_to t(:edit), edit_world_path(@world), class: 'nav-link' %>
      <%= link_to(t(:delete),
                  world_path(@world),
                  method: :delete,
                  class: 'nav-link',
                  data: {
                    confirm: t('.confirm_delete', world: @world.title)
                  }) %>
    </nav>
  </div>

  <%# world body %>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <% if @world.image.attached? %>
          <%= tag.img(src: overview_img_path(@world.image),
                      class: "rounded float-right img-thumbnail world-image",
                      alt: "Bild: #{@world.title}") %>
        <% end %>
        <h1 class="card-title"><%= @world.title %></h1>
        <p class="leader"><%= @world.description %></p>
        <p>
        <%# FIXME:... add some statistics here ... %>
        </p>
      </div>
    </div>

    <%# further items goe here  %>
    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tbody>
            <%# Figures  %>
            <tr>
              <th scope="row">Figures</th>
            </tr>
            <%# Items %>
            <tr>
              <th scope="row">Items</th>
            </tr>
            <%# Locations %>
            <tr>
              <th scope="row">Locations</th>
            </tr>
            <%# FIXME: Further items %>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <p><small>FIXME: Footer data goes here …</small></p> 
  </div>
<% end %>

<%# navigation links %>
<%# link_to 'index', worlds_path, class: 'nav-link' %>
<%# link_to 'edit', edit_world_path(@world), class: 'nav-link' %>
<%# link_to('delete', world_path(@world), method: :delete,
            class: 'nav-link',
            data: { confirm: "Really bring apocalypse to World '#{@world.title}'?" }) %>

