<%# FIXME: Does this belong to relation_constituents/_relatives ??? %>
<%= content_for :relatives do %>
  <div id="relatives" class="card">

    <div id="relatives-header" class="card-header">
      <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#relatives-collection"
              aria-expanded="true"
              aria-controls="relatives-collection">
        <%= icon(:relation) %>
        &nbsp;
        <%= obj.count %>
        &nbsp;
        <%= Relation.model_name.human(count: obj.count) %>
      </button>
    </div>

    <div id="relatives-collection"
         class="collapse"
         aria-labeled-by="relatives-header"
         data-parent="#attributes">
      <div class="card-body">

        <%# Actual index list goes here %>
        <div class="row">
          <div class="col">

            <ul class="list-unstyled">
              <%= render(
                partial: 'relation_constituents/index_entry',
                collection: obj) %>
            </ul>

          </div> 
        </div>
        <%# Actual index list ends here %>

        <div class="row">
          <div class="col text-right">
            <%# FIXME: New link is missing %>
            <%= link_to(
              icon(:new),
              '#') %>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>
