<%= tag.div(id: element_id(@relation), class: 'card') do %>
  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%# FIXME: Title %>
          <%= icon(:relation) %>
          <%= Relation.model_name.human.capitalize %>
          <span class="text-muted small">
            <%= icon(:fact) { @relation.fact.name } %>
          </span>
        </h2>
      </div>
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %>
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p><%= @relation.description %></p>
        <p class="small text-muted">
        <%= t('.belongs_to_fact', fact: @relation.fact.name) %>
        <br />
        <% if @relation.bidirectional? %>
          <%= t('.bidirectional') %>
        <% else %>
          <%= t('.unidirectional') %>
        <% end %>
        </p>
      </div>

      <%# subjects %>
      <div id="subjects" class="col-lg-6 col-12">
        <h3><%= t('.subjects') %></h3>
        <h4 class="text-muted">"<%= @relation.name %>"</h4>
        <ul class="list-unstyled">
          <%= render(
            partial: 'inventories/index_entry',
            collection: @relation.subjects) %>
        </ul>
      </div>
      <%# /subjects %>

      <%# relatives %>
      <div id="relatives" class="col-lg-6 col-12">
        <h3><%= t('.relatives') %></h3>
        <% if @relation.bidirectional? %>
          <h4 class="text-muted">"<%= @relation.reverse_name %>"</h4>
        <% end %>
        <ul class="list-unstyled">
          <%= render(
            partial: 'inventories/index_entry',
            collection: @relation.relatives) %>
        </ul>
      </div>
      <%# /relatives %>

    </div>

  </div>

<% end %>
