<%= form_with url: [@world, @figure], model: @figure, local: true do |f| %>
  <div class="form-group">
   <%= f.label :name %> 
   <% if @figure.name.present? %>
     <%= f.text_field :name, autofocus: true, disabled: true, class: "form-control" %>
   <% else %>
     <%= f.text_field :name, autofocus: true, autocomplete: :title, class: "form-control" %>
   <% end %>
  </div>

  <div class="form-group">
   <%= f.label :description %>
   <%= f.text_area :description, autocomplete: :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%# FIXME: DRY up - this is same in all inventory forms %>
    <% if @figure.image.attached? %>
      <%= tag.img(
        src: attached_img_path(@figure.image, combine_options: { resize: '80x60^', gravity: 'center' }),
        class: "img-fluid rounded float-right figure-image",
        id: element_id(@figure, 'img'),
        alt: "Bild: #{@figure.name}") %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <%= f.submit t(:submit), class: "btn btn-primary btn-lg" %>
<% end %>
