<%= form_with url: [@world, @figure], model: @figure, local: true do |f| %>
  <div class="form-group">
   <%= f.label :nick %> 
   <% if @figure.nick %>
     <%= f.text_field :nick, autofocus: true, disabled: true, class: "form-control" %>
   <% else %>
     <%= f.text_field :nick, autofocus: true, autocomplete: :title, class: "form-control" %>
   <% end %>
  </div>

  <div class="form-group">
   <%= f.label :first_name %>
   <%= f.text_field :first_name, autocomplete: :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :last_name %>
   <%= f.text_field :last_name, autocomplete: :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :description %>
   <%= f.text_area :description, autocomplete: :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <%= f.submit t(:submit), class: "btn btn-primary btn-lg" %>
<% end %>
