<%= tag.div(id: element_id(@figure), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-md-6 col-12 text-md-left text-center">
        <h2 class="card-title mt-2">
          <%= icon(:user) { @figure.nick } %>
        </h2>
      </div>
      <div class="col-md-6 col-12 text-md-right text-cneter">
        <%= render partial: 'context_menu' %>
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <% if @figure.image.attached? %> 
          <%= tag.img(
            src: card_img_path(@figure.image),
            class: "img-fluid rounded float-right img-thumbnail figure-image",
            width: '38%',
            alt: "Figur: #{@figure.nick}") %>
        <% end %>
        <h6>
          <%= @figure.first_name %>
          <%= @figure.last_name %>
        </h6>
        <p class="card-text"><%= @figure.description %></p>
        <%= link_to(
          (icon(:world) { @figure.world.title }),
          world_path(@figure.world),
          class: 'card-link') %>
    </div> 
    </div> 

    <%# FIXME: Further figure details in div.col %>
  </div>

  <%# card footer %>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6 col-12 text-md-left text-center mt-2">
        <small>
          <%= time_ago_in_words(@figure.updated_at.localtime) %>
        </small>
      </div>
      <div class="col-md-6 col-12 text-md-right text-center">
        <%= render partial: 'context_menu' %>
      </div>
    </div>
  </div>

<% end %>
