<%= tag.div(id: element_id(@figure), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%= icon(:user) { @figure.name } %>
        </h2>
      </div>
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %>
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <%# info %>
      <div class="col-md-6 col-12">
        <% if @figure.description.present? %>
          <p><%= @figure.description %></p>
        <% end %>
        <% unless @figure.facts.empty? %>
          <p><%= t('.part_of_facts', count: @figure.facts.count) %></p>
        <% end %>
        <p>
        <%= t('.world', name: @figure.name) %>
        <%= link_to(@figure.world.name, world_path(@figure.world)) %>
        </p>
        <p class="small text-muted">
        <%= t(:created_at, datetime: l(@figure.created_at.localtime)) %>
        (<%= @figure.world.user.nick %>)<br />
        <%= t(:last_modified, datetime: l(@figure.updated_at.localtime)) %>
        </p>
      </div>

      <%# image %>
      <div class="col-md-6 col-12 order-first order-md-0 mb-3 mb-0-md">
        <% if @figure.image.attached? %>
          <%= tag.img(
            src: card_img_path(@figure.image),
            class: "img-fluid rounded float-right figure-image",
            width: '100%',
            alt: "Bild: #{@figure.name}") %>
        <% end %>
      </div>
    </div> 

    <%# Show tags %>
    <%= render partial: 'shared/tags', locals: { obj: @figure } %>
  </div>
<% end %>
<%# Attributes go here %>
<%= render partial: 'facts/facts', locals: { obj: @figure.facts.chronological } %>
<%= render partial: 'shared/attributes', locals: { obj: @figure } %>

