<%# `@form_url` has to be set in controller 
  see: https://stackoverflow.com/a/9163318 %>
<h5><%= associated_object_info(@trait.traitable) %></h5>
<%= form_with url: @form_url, model: @trait, local: true do |f| %>

  <%= f.fields_for :attributeset do |a| %>

    <% @trait.attributeset.each do |key, value| %>
      <div class="form-group row">
        <%= a.label key, key, class: 'col-form-label col-4' %>
        <div class="col-8">
          <%= a.text_field key, value: value, class: 'form-control' %>
        </div>
      </div>
    <% end %>

  <% end %>

  <div class="form-group row">
    <div class="col-4">
      <%= f.text_field :new_key, autofocus: true, class: 'form-control', placeholder: t('.new_key') %>
    </div>
    <div class="col-8">
      <%= f.text_field :new_value, class: 'form-control', placeholder: t('.new_value') %>
    </div>
  </div>
  <%= f.submit t(:submit), class: 'btn btn-primary btn-lg' %>
<% end %>
