<div class="row">
  <div class="col">
    <% if obj.trait %>

      <div class="table-responsive">
        <table class="table table-hover table-sm table-borderless">
          <thead>
            <tr>
              <th scope="col"><%= t('.attribute') %></th>
              <th scope="col"><%= t('.value') %></th>
            </tr>
          </thead>
          <tbody>
            <% obj.trait.attributeset.each do |key, value| %>
              <tr>
                <th scope="row" class="attributeset-key"><%= key %></th>
                <td class="attributeset-value"><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col text-right">
    <%= link_to(
      icon(:edit),
      edit_trait_path(obj.trait),
      id: element_id(obj.trait, 'edit')) %>
  </div>
</div>
