<%# `obj` is assumed to hold a `noteable object` %>
<div class="row">
  <div class="col">
    <div class="accordion" id="attributes">
      <%# Fact contituents %>
      <% if content_for? :fact_constituents %>
        <%= yield :fact_constituents %>
      <% end %>


      <%# Traits %>
      <div class="card" id="traits">

        <div id="traits-header" class="card-header">
          <button class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#traits-collection"
                  aria-expanded="true"
                  aria-controls="traits-collection">
            <%= icon(:trait) %>
            &nbsp;
            <%= obj.trait.attributeset.count %>
            &nbsp;
            <%= Trait.model_name.human(count: obj.trait.attributeset.count).capitalize %>
          </button>
        </div>

        <div id="traits-collection"
             class="collapse"
             aria-labeled-by="traits-header"
             data-parent="#attributes">
          <div class="card-body">
            <%= render partial: 'traits/traits', locals: { obj: obj } %>
          </div>
        </div>

      </div>
      <%# /Traits %>

      <%# Notes %>
      <div class="card" id="notes">

        <div class="card-header" id="notes-header">
          <button class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#notes-collection"
                  aria-expanded="true"
                  aria-controls="notes-collection">
            <%= icon(:note) %>
            &nbsp;
            <%= obj.notes.count %>
            &nbsp;
            <%= Note.model_name.human(count: obj.notes.count).capitalize %>
          </button>
        </div>

        <div id="notes-collection"
             class="collapse"
             aria-labeled-by="notes-header"
             data-parent="#attributes">
          <div class="card-body">
            <%= render partial: 'notes/notes', locals: { obj: obj } %>
          </div>
        </div>

      </div>
      <%# /Notes %>

      <%# Dossier %>
      <div class="card" id="dossiers">

        <div class="card-header" id="dossiers-header">
          <button class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#dossiers-collection"
                  aria-expanded="true"
                  aria-controls="dossiers-collection">
            <%= icon(:dossier) %>
            &nbsp;
            <%= obj.dossiers.count %>
            &nbsp;
            <%= Dossier.model_name.human(count: obj.dossiers.count).capitalize %>
          </button>
        </div>

        <div id="dossiers-collection"
             class="collapse"
             aria-labeled-by="dossiers-header"
             data-parent="#attributes">
          <div class="card-body">
            <%= render partial: 'dossiers/dossiers', locals: { obj: obj } %>
          </div>
        </div>

      </div>
      <%# /Dossier %>

      <%# Items %>
      <% if content_for? :items %>
        <%= yield :items %>
      <% end %>

      <%# Figures %>
      <% if content_for? :figures %>
        <%= yield :figures %>
      <% end %>

      <%# Locations %>
      <% if content_for? :locations %>
        <%= yield :locations %>
      <% end %>

      <%# Concepts %>
      <% if content_for? :concepts %>
        <%= yield :concepts %>
      <% end %>

      <%# Facts %>
      <% if content_for?(:facts) %>
        <%= yield :facts %>
      <% end %>
      <%# /Facts %>

    </div>
  </div>

</div>


