<div class="row">

  <%# FIXME: Needs styling %>
  <div class="col">
    <ul class="list-unstyled">
      <% obj.dossiers.each do |dossier| %>

        <%= tag.li(class: 'media mb-4', id: element_id(dossier)) do %>

          <%= tag.a(href: polymorphic_path([dossier.try(:world), dossier])) do %>
            <%= default_image(dossier, 'mr-3 q-media-img-default') %>
          <% end %>

          <%# Body %>
          <div class="media-body">
            <h5 class="mb-1">
              <%= dossier.title %>
            </h5>
            <p class="small">
            <%= dossier.description %>
            </p>
            <p class="text-muted">
            <%= link_to(t('show'), polymorphic_path([dossier.try(:world), dossier])) %>
            <%= link_to(icon(:edit), edit_polymorphic_path([dossier.try(:world), dossier]), id: element_id(dossier, 'edit')) %>
            <%= link_to(icon(:delete), polymorphic_path([dossier.try(:world), dossier]), id: element_id(dossier, 'delete'), method: :delete, data: { confirm: t('.confirm_delete', dossier: dossier.title) }) %>
            </p>
          </div>

        <% end %>

      <% end %>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col">
    <%= link_to(icon(:new), new_polymorphic_path([obj.try(:world), obj, Dossier]), id: 'add-dossier') %>
  </div>
</div>

