<nav class="navbar navbar-expand navbar-light bg-light">

  <%= link_to 'Qua Mundo', root_path, class: 'navbar-brand' %>

  <div class="" id="main_menu">
    <div class="navbar-nav">
      <%# world submenu %>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdownWorld"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <%= World.model_name.human(count: 2) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownWorld">
          <%= link_to(t(:list), worlds_path, class: 'nav-link nav-item') %>
          <%= link_to(t(:new), new_world_path, class: 'nav-link nav-item') %>
        </div>
      </div>

      <%# user submenu %>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdownUser"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
           <%= current_user.nick %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
      <%= link_to(t(:profile), edit_user_registration_path, class: 'dropdown-item') %>
      <%= link_to(t(:logout), destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
        </div>
      </div>

    </div>
  </div>
</nav>
