<%= content_for :facts do %>
  <div id="facts" class="card">

    <div id="facts-header" class="card-header">
      <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#facts-collection"
              aria-expanded="true"
              aria-controls="facts-collection">
        <%= icon(:fact) %>
        &nbsp;
        <%= obj.count %>
        &nbsp;
        <%= Fact.model_name.human(count: obj.count).capitalize %>
      </button>
    </div>

    <div id="facts-collection"
         class="collapse"
         aria-labeled-by="facts-header"
         data-parent="#attributes">
      <div class="card-body">

        <%# Actual index list goes here %>
        <div class="row">
          <div class="col">

            <ul class="list-unstyled">
              <%= render partial: 'facts/index_entry', collection: obj %>
            </ul>

          </div> 
        </div>
        <%# Actual index list ends here %>

        <div class="row">
          <div class="col text-right">
            <%= link_to(icon(:new), new_world_fact_path(@world)) %>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>
