<%= tag.div(id: element_id(@fact), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%= icon(:fact) { @fact.name } %>
        </h2>
      </div>
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %> 
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div id="fact-timeline" class="row">
      <div class="col">
        <%= render(partial: 'fact_timeline', locals: { fact: @fact }) %>
      </div>
    </div>
    <div class="row">
      <%# info %>
      <div class="col-md-6 col-12">
        <% if @fact.description.present? %>
          <p><%= @fact.description %></p>
        <% end %>
        <% if @fact.start_date %>
          <p><%= t('.starts_at',
                   start: l(@fact.start_date, format: :long)) %></p>
        <% end %>
        <% if @fact.end_date %>
          <p><%= t('.ends_at', end: l(@fact.end_date, format: :long)) %></p>
        <% end %>
        <% if @fact.start_date.present? and @fact.end_date.present? %>
          <p><%= t('.duration',
                   duration: distance_of_time_in_words(
                     @fact.end_date - @fact.start_date)) %></p>
        <% end %>
        <p>
        <%= t('.world', name: @fact.name) %>
        <%= link_to(@fact.world.name, world_path(@fact.world)) %>
        </p>
        <p class="small text-muted">
        <%= t(:created_at, datetime: l(@fact.created_at.localtime)) %>
        (<%= @fact.world.user.nick %>)<br />
        <%= t(:last_modified, datetime: l(@fact.updated_at.localtime)) %>
        </p>
      </div>

      <%# image %>
      <div class="col-md-6 col-12 order-first order-md-0 mb-3 mb-0-md">
        <% if @fact.image.attached? %>
          <%= tag.img(
            src: card_img_path(@fact.image),
            class: "img-fluid rounded float-right fact-image",
            width: '100%',
            alt: "Bild: #{@fact.name}") %>
        <% end %>
      </div>
      
    </div>

    <%# FIXME: Refactor - extract to image partial %>
    <%# Show tags %>
    <%= render partial: 'shared/tags', locals: { obj: @fact } %>
  </div>
<% end %>
<%# Attributes go here %>
<%= render(
  partial: 'fact_constituents/fact_constituents',
  locals: { obj: @fact.fact_constituents.order(constituable_type: :asc) }) %>
<%= render(
  partial: 'relations/relations',
  locals: { obj: @fact.relations }) %>
<%= render partial: 'shared/attributes', locals: { obj: @fact } %>

