<%# `@form_url` has to be set in controller 
  see: https://stackoverflow.com/a/9163318 %>
<h5><%= associated_object_info(@tag.tagable) %></h5>
<%= form_with url: @form_url, model: @tag, local: true do |f| %>
  <div class="form-group">
    <%= f.label :tagset %>
    <%= f.text_field :tagset, autofocus: true, class: 'form-control', value: @tag.tagset.join(', ') %>
  </div>
  <%= f.submit t(:submit), class: 'btn btn-primary btn-lg' %>
<% end %>

