<%= tag.div(id: element_id(@concept), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%= icon(:concept) { @concept.name } %>
        </h2>
      </div>
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %> 
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <%# info %>
      <div class="col-md-6 col-12">
        <% if @concept.description.present? %>
          <p><%= @concept.description %></p>
        <% end %>
        <% unless @concept.facts.empty? %>
          <p><%= t('.part_of_facts', count: @concept.facts.count) %></p>
        <% end %>
        <p>
        <%= t('.world', name: @concept.name) %>
        <%= link_to(@concept.world.name, world_path(@concept.world)) %>
        </p>
        <p class="small text-muted">
        <%= t(:created_at, datetime: l(@concept.created_at.localtime)) %>
        (<%= @concept.world.user.nick %>)<br />
        <%= t(:last_modified, datetime: l(@concept.updated_at.localtime)) %>
        </p>
      </div>

      <%# image %>
      <div class="col-md-6 col-12 order-first order-md-0 mb-3 mb-0-md">
        <% if @concept.image.attached? %>
          <%= tag.img(
            src: card_img_path(@concept.image),
            class: "img-fluid rounded float-right concept-image",
            width: '100%',
            alt: "Bild: #{@concept.name}") %>
        <% end %>
      </div>
    </div>

    <%# Show tags %>
    <%= render partial: 'shared/tags', locals: { obj: @concept } %>
  </div>
<% end %>
<%# Attributes go here %>
<%# FIXME: Try @concept.relatives.map(&:constituable) - What about eager loading %>
<%= render partial: 'relations/relatives', locals: { obj: @concept.relatives } %>
<%= render partial: 'facts/facts', locals: { obj: @concept.facts.chronological } %>
<%= render partial: 'shared/attributes', locals: { obj: @concept } %>

