<nav class="nav context-menu justify-content-md-end justify-content-center">
  <%= link_to(
    icon(:index),
    world_items_path(@item.world),
    class: 'nav-link',
    title: t(:index)) %>
  <%= link_to(
    icon(:world),
    world_path(@item.world),
    class: 'nav-link',
    title: t('activerecord.models.world.one')) %>
  <%= link_to(
    icon(:edit),
    edit_world_item_path(@item.world, @item),
    class: 'nav-link',
    title: t(:edit)) %>
  <%= link_to(
    icon(:new),
    new_world_item_path(@item.world),
    class: 'nav-link',
    title: t(:new)) %>
  <%= link_to(
    icon(:delete),
    world_item_path(@item.world, @item),
    method: :delete,
    class: 'nav-link',
    title: t(:delete),
    data: { confirm: t('.confirm_delete', item: @item.name) }) %>
</nav>

