<%= content_for :fact_constituents do %>
  <div id="fact_constituents" class="card">

    <div id="fact_constituents-header" class="card-header">
      <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#fact_constituents-collection"
              aria-expanded="true"
              aria-controls="fact_constituents-collection">
        <%= icon(:fact_constituent) %>&nbsp;
        <%= obj.count %>&nbsp;
        <%= FactConstituent.model_name.human(count: obj.count).capitalize %>
      </button>
    </div>

    <div id="fact_constituents-collection"
         class="collapse"
         aria-labeled-by="fact_constituents-header"
         data-parent="#attributes">
      <div class="card-body">

        <%# Actual index list goes here %>
        <div class="row">
          <div class="col">

            <ul class="list-unstyled">
              <%= render(
                partial: 'fact_constituents/index_entry',
                collection: obj) %>
            </ul>

          </div> 
        </div>
        <%# Actual index list ends here %>

        <div class="row">
          <div class="col text-right">
            <%= link_to(
              icon(:new),
              new_world_fact_fact_constituent_path(@world, @fact)) %>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>


