<ul class="nav justify-content-end context-menu mt-2">
  <li class="nav-item">
    <a class="nav-link dropdown"
       data-toggle="dropdown"
       href="#"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
      <%= icon(:menu) %>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to(
        icon(:world) { @world.name },
        world_path(@location.world),
        class: 'dropdown-item',
        title: t('activerecord.models.world.one')) %>
      <div class="dropdown-divider"></div>
      <%= link_to(
        icon(:index) { t('index') },
        world_locations_path(@location.world),
        class: 'dropdown-item',
        title: t(:index)) %>
      <%= link_to_if(
        allowed_to?(:edit?, @location),
        icon(:edit) { t('edit') },
        edit_world_location_path(@location.world, @location),
        class: 'dropdown-item',
        title: t(:edit)) {} %>
      <%= link_to_if(
        allowed_to?(:new?, @location),
        icon(:new) { t('new') },
        new_world_location_path(@location.world),
        class: 'dropdown-item',
        title: t(:new)) {} %>
      <%= link_to_if(
        allowed_to?(:destroy?, @location),
        icon(:delete) { t('delete') },
        world_location_path(@location.world, @location),
        method: :delete,
        class: 'dropdown-item',
        title: t(:delete),
        data: { confirm: t('.confirm_delete', location: @location.name) }) {} %>
    </div>
  </li>
</ul>

