<%= javascript_pack_tag 'location' %>

<%= form_with url: [@world, @location], model: @location, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, autocomplete: :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lonlat %>
    <div class="input-group">
      <%= f.text_field :lonlat, autocomplete: :lonlat, class: 'form-control', value: get_lonlat(@location.lonlat) %>
      <div class="input-group-append">
        <%# Get current position by button click %>
        <%# Button is hidden by default and gets activated via javascript %>
        <button id="get_device_pos" class="input-group-text btn btn-outline-primary d-none" type="button">
          <%= icon(:location) %>
        </button>

        <%# Get position from exif data of image %>
        <%# Button is hidden by default and gets activated via javascript %>
        <%# FIXME: Not implemented yet %>
        <button id="get_img_pos" class="input-group-text btn btn-outline-primary d-none" type="button">
          <%= icon(:image) %>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%# FIXME: DRY up - this is same in all inventory forms %>
    <% if @location.image.attached? %>
      <%= tag.img(
        src: attached_img_path(@location.image, combine_options: { resize: '80x60^', gravity: 'center' }),
        class: "img-fluid rounded float-right location-image",
        id: element_id(@location, 'img'),
        alt: "Bild: #{@location.name}") %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control-file' %>
  </div>

  <%= f.submit t(:submit), class: 'btn btn-primary btn-lg' %>
<% end %>
