<%= form_with(
  url: [@world, @location],
  model: @location,
  local: true,
  data: {controller: 'location'}) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area(
      :description,
      autocomplete: :description,
      class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label :lonlat %>
    <div class="input-group">
      <%= f.text_field(
        :lonlat,
        autocomplete: :lonlat,
        class: 'form-control',
        data: { target: 'location.coords' },
        value: get_lonlat(@location.lonlat)) %>
      <div class="input-group-append">
        <%# Get current position by button click %>
        <button id="get_device_pos"
                class="input-group-text btn btn-outline-primary"
                data-action="location#getPosition"
                type="button">
          <%= icon(:location) %>
        </button>

        <%# Get position from exif data of image %>
        <%# FIXME: Not implemented yet (disabled via .d-none) %>
        <button id="get_img_pos"
                class="input-group-text btn btn-outline-primary d-none"
                type="button">
          <%= icon(:image) %>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%# FIXME: DRY up - this is same in all inventory forms %>
    <% if @location.image.attached? %>
      <%= tag.img(
        src: attached_img_path(@location.image, 80, 60),
        class: "img-fluid rounded float-right location-image",
        id: element_id(@location, 'img'),
        alt: "Bild: #{@location.name}") %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control-file' %>
  </div>

  <%# Add/edit tags %>
  <%= render(
    partial: 'tags/tag_input',
    locals: { form: f, tagable: @location }) %>

  <%# Add/edit traits %>
  <%= render(
    partial: 'traits/trait_input',
    locals: { form: f, traitable: @location } ) %>

  <%= f.submit t(:submit), class: 'btn btn-primary btn-lg' %>
<% end %>
