<%= content_for :locations do %>
  <div id="locations" class="card">

    <div id="locations-header" class="card-header">
      <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#locations-collection"
              aria-expanded="true"
              aria-controls="locations-collection">
        <%= icon(:location) %>
        &nbsp;
        <%= obj.count %>
        &nbsp;
        <%= Location.model_name.human(count: obj.count).capitalize %>
      </button>
    </div>

    <div id="locations-collection"
         class="collapse"
         aria-labeled-by="locations-header"
         data-parent="#attributes">
      <div class="card-body">

        <%# Actual index list goes here %>
        <div class="row">
          <div class="col">

            <ul class="list-unstyled">
              <% obj.each do |location| %> 
                <%= tag.li(class: 'media mb-4', id: element_id(location)) do %>

                  <%# Image - Thumbnail %>
                  <%= tag.a(href: world_location_path(location.world, location)) do %>
                    <% if location.image.attached? %>
                      <%=
                        tag.img(
                          src: attached_img_path(
                            location.image, { resize: "64x64^" }),
                          class: 'mr-3 q-media-img'
                        ) %>
                    <% else %>
                      <%= default_image(location, 'mr-3 q-media-img-default') %>
                    <% end %>
                  <% end %>

                  <%# Body %>
                  <div class="media-body">
                    <h5 class="mb-1">
                      <%= icon(location) { location.name } %>
                    </h5>
                    <div class="small">
                      <%= location.description %><br />
                      <%= link_to(t('show'), world_location_path(location.world, location)) %>
                    </div>
                  </div>

                <% end %>
              <% end %>
            </ul>

          </div> 
        </div>
        <%# Actual index list ends here %>

        <div class="row">
          <div class="col text-right">
            <%= link_to(icon(:new), new_world_location_path(@world)) %>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>


