<%= content_for :locations do %>
  <div id="locations" class="card">

    <div id="locations-header" class="card-header">
      <button class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#locations-collection"
              aria-expanded="true"
              aria-controls="locations-collection">
        <%= icon(:location) %>
        &nbsp;
        <%= obj.count %>
        &nbsp;
        <%= Location.model_name.human(count: obj.count).capitalize %>
      </button>
    </div>

    <div id="locations-collection"
         class="collapse"
         aria-labeled-by="locations-header"
         data-parent="#attributes">
      <div class="card-body">

        <%# Actual index list goes here %>
        <div class="row">
          <div class="col">

            <ul class="list-unstyled">
              <%= render partial: 'locations/index_entry', collection: obj %>
            </ul>

          </div> 
        </div>
        <%# Actual index list ends here %>

        <div class="row">
          <div class="col text-right">
            <%= link_to_if(
              allowed_to?(:new?, obj),
              icon(:new),
              new_world_location_path(@world),
              id: 'add-location') {} %>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>


