<%= tag.div(id: element_id(@location), class: 'card') do %>

  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title mt-2">
          <%= icon(:location) { @location.name } %>
        </h2>
      </div> 
      <div class="col-2 text-right">
        <%= render partial: 'context_menu' %> 
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <%# info %>
      <div class="col-md-6 col-12">
        <% if @location.description.present? %>
          <p><%= @location.description %></p>
        <% end %>
        <% if @location.lonlat %>
          <p>
          <%= t('activerecord.attributes.location.lonlat') %>:
          <%= @location.lonlat.lat %>, <%= @location.lonlat.lon %>
          </p>
        <% end %>
        <% unless @location.facts.empty? %>
          <p><%= t('.part_of_facts', count: @location.facts.count) %></p>
        <% end %>
        <p>
        <%= t('.world', name: @location.name) %>
        <%= link_to(@location.world.name, world_path(@location.world)) %>
        </p>
        <p class="small text-muted">
        <%= t(:created_at, datetime: l(@location.created_at.localtime)) %>
        (<%= @location.world.user.nick %>)<br />
        <%= t(:last_modified, datetime: l(@location.updated_at.localtime)) %>
        </p>
      </div>

      <%# image %>
      <div class="col-md-6 col-12 order-first order-md-0 mb-3 mb-0-md">
        <% if @location.image.attached? %>
          <%= tag.img(
            src: card_img_path(@location.image),
            class: "img-fluid rounded float-right location-image",
            width: '100%',
            alt: "Bild: #{@location.name}") %>
        <% end %>
      </div>
    </div>

    <div id="inventory-timeline" class="row inventory-timeline">
      <div class="col">
        <%= render(
          partial: 'shared/inventory_timeline', locals: { inventory: @location }
        ) %>
      </div>
    </div>

    <%# Show tags %>
    <%= render partial: 'shared/tags', locals: { obj: @location } %>
  </div>
<% end %>
<%# Attributes go here %>
<%# FIXME: Try @location.relatives.map(&:constituable) - What about eager loading %>
<%= render(
  partial: 'relations/relatives',
  locals: { obj: @location.relatives.chronological }) %>
<%= render(
  partial: 'facts/facts',
  locals: { obj: @location.facts.chronological }) %>
<%= render partial: 'shared/attributes', locals: { obj: @location } %>

