<!DOCTYPE html>
<html>
  <head>
    <title>Quamundo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <%# To provide locale to js as workaround use a `data-locale` attribute
    in body tag and use `$('body').data('locale')`to access %>
  <%= tag.body(class: 'container', data: { locale: I18n.locale }) do %>

    <%# Render default header %>
    <%= render partial: 'shared/header' %>

    <%# Render flash messages %>
    <%= render partial: 'shared/flash_messages' %>

    <%# Render page content %>
    <%= yield %>

    <%# Render footer %>
    <%= render partial: 'shared/footer' %>

  <% end %>
</html>
