<h2>
  <%= t('.new_relation_constituent') %>
</h2>
<h4 class="text-muted">
  <%= @relation.fact.name %>: <%= @relation.name %>
</h4>
<%= form_with url: [@relation.fact.world, @relation_constituent], model: @relation_constituent, local: true do |f| %>

  <div class="form-group">
    <%= f.label :fact_constituent %> 
    <%= f.select(:fact_constituent_id,
                 RelationConstituentHelper.select_options(@relation_constituent),
                 include_blank: true) %>
  </div>

  <div class="form-group">
    <%= f.label :role %>:&nbsp;
    <div class="form-check form-check-inline">
      <%= f.radio_button :role, :subject, checked: true, class: 'form-check-input' %>
      <%= f.label :role, t('.subject'), value: :subject, class: 'form-check-label' %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :role, :relative, class: 'form-check-input' %>
      <%= f.label :role, t('.relative'), value: :relative, class: 'form-check-label' %>
    </div>
  </div>

  <%= f.hidden_field :relation_id %>

  <%= f.submit t('submit'), class: 'btn btn-primary btn-lg' %>
<% end %>
